@using Hedibe.Controllers

<nav class="navbar navbar-background-gradient bg-white  navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow ">
    <div class="container-fluid m-0 ">
        <a class="mr-2 text-dark" asp-area="" asp-controller="Home" asp-action="Index">
            @if (ViewContext.HttpContext.Request.Path == "/")
            {
                <img width="48" src="~/assets/Homepage_active.png" alt="home">
            }
            else
            {
                <img width="48" src="~/assets/Homepage.png" alt="home">
            }
        </a>
        <a class="navbar-brand m-0 " asp-area="" asp-controller="Home" asp-action="Index"><img src="~/assets/Logo.png" alt="Logo"  width="150" /> </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse d-sm-inline-flex justify-content-end">
            <ul class="navbar-nav d-flex align-items-center justify-content-end ">
                @{if (AuthController.LoggedUser == null)
                    {
                        <li class="nav-item ">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Auth" asp-action="Login">Login</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Auth" asp-action="Register">Register</a>
                        </li>
                    }
                    else
                    {
                       
                        <li class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Meals
                            </button>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Catalog</a>
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">User meals</a>
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Create meal</a>
                            </div>
                        </li>
                        <li class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Shopping list
                            </button>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Products</a>
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">User lists</a>
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Archive</a>
                            </div>
                        </li>
                        <li class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                @AuthController.LoggedUser.Username
                            </button>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Auth" asp-action="Logout">Theme</a>
                                <a class="nav-link text-dark" asp-area="" asp-controller="Auth" asp-action="Logout">Help</a>
                                <a class="nav-link text-dark" asp-area="" asp-controller="Auth" asp-action="Logout">Logout</a>
                            </div>
                        </li>
                    }
                }
            </ul>
        </div>
    </div>
</nav>