@using Hedibe.Controllers

<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
    <div class="container-fluid m-0">
        
        <a class="navbar-brand " asp-area="" asp-controller="Home" asp-action="Index"><img class="logo" src="~/assets/Logo.png" alt="Logo" /> </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
            <ul class="navbar-nav flex-grow-1 d-flex align-items-center ">
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">
                        @if (ViewContext.HttpContext.Request.Path == "/")
                        {
                            <img class="homepage-icon" src="~/assets/Homepage_active.png" alt="home">
                        }
                        else
                        {
                            <img class="homepage-icon" src="~/assets/Homepage.png" alt="home">
                        }
                    </a>
                </li>
                @{if (AuthController.LoggedUser == null)
                    {
                        <li class="nav-item ml-sm-auto">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Auth" asp-action="Login">Login</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Auth" asp-action="Register">Register</a>
                        </li>
                    }
                    else
                    {
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                        <li class="nav-item ml-sm-auto">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Auth" asp-action="Logout">Logout</a>
                        </li>
                    }
                }
            </ul>
        </div>
    </div>
</nav>