@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<section>
    <div class="text-center">
        <h1>Examination</h1>
        <p class="text-center">Page after user log into app</p>
    </div>
</section>