@{
    ViewData["Title"] = "Products/Delete";
}
<section>
    <div class="text-center">
        <h1>@ViewData["Title"]</h1>
        <p class="text-center">Page after user log into app</p>
    </div>
    <div class="row m-0 p-2">
        <div class="col-9 text-center border-right border-left">
            <h2 style="text-decoration: underline">News</h2>
            <div>
                <article>
                    <h3>About cherries</h3>
                    <img style="width:480px; " src="https://cdn.pixabay.com/photo/2016/06/05/16/40/cherry-1437707_960_720.jpg" alt="article photo" />
                    <p>Cherries and their health valors</p>
                    <button class="btn btn-primary">Read more!</button>
                </article>
            </div>
        </div>
        <div class="col-3 text-center ">
            <h3>Last added meals</h3>
        </div>
    </div>
</section>



