

.font-dancing-script {
    font-family: 'Dancing Script', cursive;
}

.background-milk{
    background-color: #fbfaf1;
}


.font-size-md{
    font-size: 1.6rem;
}

.font-size-lg {
    font-size: 3.0rem;
}

.active{
    color: red;
}

.verify-hover-success:hover {
    color: green !important;
}

.verify-hover-danger:hover {
    color: red !important;
}

.dropdown {
    margin: 0 4px;
}

.nav-link {
    text-align: center;
    font-family: 'Dancing Script', cursive;
    font-size: 2rem;
}
.nav-link:hover{
    transform: scale(1.1);
}

.btn-clear {
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
}

.btn-clear:active {
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
}

.btn-clear:focus {
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
}


.z-index-50 {
    z-index: 50 !important;
}

.z-index-10 {
    z-index: 10 !important;
}

.active-page-btn {
    color: rgb(255,255,255) !important; 
    background: #808080;
}

.background-animated {
    background: linear-gradient(45deg, rgba(26,63,249,0.25003504819896705) 0%, rgba(252,244,70,0.25) 25%, rgba(252,70,190,0.25) 50%, rgba(70,178,252,0.25) 75%);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}


@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}



.navbar-background-gradient {
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(0,241,255,0.26404065043986347) 100%);
}

.login-background-cherries{
    background-image: url(../assets/Cherries_BG.jpg);
    background-size: cover;
    
}

.home-h1-custom{
    font-size: 8rem;
}




.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}




@media only screen and (max-width: 600px) {
    .home-h1-custom{
        font-size:4rem;
    }
}

html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    user-select: none;
}

.footer {
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 40px; 
}

