@model Hedibe.Models.Account.LoginUserDto

@{
    ViewData["Title"] = "Login";
}


<section class="login-background-cherries flex-grow-1">
    <div class="container mt-4">
        <div class="row w-100 m-0">
            <div class="col-md-4 col-12">
                <h1 class="font-dancing-script font-size-lg text-center border-bottom border-dark py-2">Login</h1>
                @if (ViewBag.AddInfo is not null)
                {
                    if (ViewBag.AddInfo.Substring(0, 1) == "S")
                    {
                        <h2 class="font-dancing-script d-flex align-items-center justify-content-center text-success"><span class="iconify" data-icon="akar-icons:circle-check-fill"></span> @ViewBag.AddInfo 😊</h2>
                    }

                    if (ViewBag.AddInfo.Substring(0, 1) == "F")
                    {
                        <h2 class="font-dancing-script d-flex align-items-center justify-content-center text-danger"><span class="iconify" data-icon="akar-icons:circle-check-fill"></span> @ViewBag.AddInfo 😔</h2>
                    }
                }
                <form asp-action="Login">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Username" class="control-label font-dancing-script font-size-md">Username:</label>
                        <input asp-for="Username" class="form-control" value="user" />
                        <span asp-validation-for="Username" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Password" class="control-label font-dancing-script font-size-md">Password:</label>
                        <input asp-for="Password" class="form-control" value="user" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>


                    <div class="form-group justify-content-center d-flex">
                        <input type="submit" value="Login" class="btn btn-dark " style="width: 100px" />
                    </div>
                </form>
            </div>
        </div>
    </div>
    
   
</section>


