@model Hedibe.Models.Account.RegisterUserDto

@{
    ViewData["Title"] = "Create";
}


<section class="login-background-cherries flex-grow-1">

    <div class="container mt-4">

        <div class="row w-100 m-0">
            <div class="col-md-4 col-12">
                <h1 class="font-dancing-script font-size-lg text-center border-bottom border-dark py-2">Register</h1>
                <form asp-action="Register">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Username" class="control-label font-dancing-script font-size-md">Username:</label>
                        <input asp-for="Username" class="form-control" />
                        <span asp-validation-for="Username" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Password" class="control-label font-dancing-script font-size-md">Password:</label>
                        <input asp-for="Password" class="form-control" />
                        <span asp-validation-for="Password" class="text-danger"></span>

                    </div>
                    <div class="form-group">
                        <label asp-for="ConfirmPassword" class="control-label font-dancing-script font-size-md">Confirm Password:</label>
                        <input asp-for="ConfirmPassword" class="form-control" />
                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    </div>
                    <div class="form-group d-flex justify-content-center">
                        <input type="submit" value="Register" class="btn btn-dark" />
                    </div>
                </form>
            </div>
        </div>
    </div>


</section>


