<section class="row m-0 panel_background flex-grow-1">
    <partial name="_PanelNavbar" />
    <main class="col-md-9 ms-sm-auto col-lg-10">
        <div class="text-center">
            <h1>@ViewData["Title"]</h1>
        </div>
        <div class="row m-0 p-2">
            <div class="col-6 text-center border-right border-left">
                <h3>Last added products</h3>
            </div>
            <div class="col-6 text-center ">
                <h3>Informations</h3>
                <ul class="text-left">
                    <li>
                        <h4>Products count: </h4>
                    </li>
                    <li>
                        <h4>Meals count: </h4>
                    </li>
                    <li>
                        <h4>Users count: </h4>
                    </li>
                </ul>
            </div>
        </div>
    </main>
</section>