
<section class="row m-0 panel_background">
    <partial name="_PanelNavbar" />
    <main class="col-md-9 ms-sm-auto col-lg-10">
        <div class="text-center">
            <h1>@ViewData["Title"]</h1>
        </div>
        <div class="row m-0 p-2">
            <div class="col-6 text-center border-right border-left">
                <h3>Last added products</h3>
            </div>
            <div class="col-6 text-center ">
                <h3>Last added meals</h3>
            </div>
        </div>
    </main>
</section>