@model Hedibe.Models.ShoppingLists.ShoppingListAddDto

<section class="container py-3">
    <div class="text-center mb-3">
        <h1 class="font-dancing-script d-flex align-items-center justify-content-center"> Add your own shopping list! 📋</h1>
        <p class="text-black-50 m-0">- In this section you can create your own product shopping list. If you cannot find product you want, you can create your list and then from "Products list" add your product to your list -</p>
        @if (ViewBag.AddInfo is not null)
        {
            <h2 class="font-dancing-script d-flex align-items-center justify-content-center text-success"><span class="iconify" data-icon="akar-icons:circle-check-fill"></span> @ViewBag.AddInfo 😋</h2>
        }
    </div>

    <form asp-action="Add" class="m-2">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="d-flex flex-md-row flex-column">
            <div class="d-flex flex-column">

                <div class="form-group form-inline row">
                    <label asp-for="Name" class="col-2 control-label font-dancing-script font-size-md">Name:</label>
                    <input asp-for="Name" class="col-9 form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group form-inline row">
                    <label asp-for="Description" class="col-2 control-label font-dancing-script font-size-md">Description:</label>
                    <textarea asp-for="Description" class="col-9 form-control" rows="3" cols="80" style="resize: none;"></textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>

            </div>
            <div class="form-group form-inline justify-content-center  ">
                <input type="submit" class="btn btn-dark" value="Create List" />
            </div>
        </div>

    </form>

    <partial name="_ProductsList" model="ViewBag.searchProducts" />





    <div class="">
        <a class="font-dancing-script font-size-md text-dark d-flex justify-content-center align-items-center" asp-action="Index">
            <span class="iconify m-2" data-icon="ion:arrow-back-circle"></span>
            Back to List
            <span class="iconify m-2" data-icon="fluent:clipboard-bullet-list-ltr-20-filled"></span>
        </a>
    </div>

</section>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/js/select2.min.js"></script>
    <script type="text/javascript">
        $(function () {
            $("#searchProducts").select2();
        });
    </script>
}